{% extends 'base.html' %}
{%load static%}


{% block style %}
{% endblock %}

{% block content1 %}
<div class="container">
    <div class="row">
    <div class="col-md-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab " role="tablist" aria-orientation="vertical">

        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span>Home</span></a>

        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Edit Profile</a>

        <a class="nav-link" id="v-pills-View-Leave-Applications-tab" data-toggle="pill" href="#View-Leave-Applications" role="tab" aria-controls="v-pills-leave_emp_onleave" aria-selected="false">View Leave Applications</a>


        <a class="nav-link" id="v-pills-track_applications-tab" data-toggle="pill" href="#track_applications" role="tab" aria-controls="v-pills-track_applications" aria-selected="false">Track Applications</a>

 
        <a class="nav-link" id="v-pills-logout-tab" data-toggle="pill" href="#v-pills-logout" role="tab" aria-controls="v-pills-logout" aria-selected="false">Logout</a>
     
     </div> 
</div>


<div  class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class = row>
            <div class = "col-6">
              <p>Staff ID : {{object.staff_id}}</p> 
              <p>Staff Name : {{object.f_name}} {{object.l_name}}</p>
              <p>Staff Department : {{object.department}}</p>
              <p>Unit:{{object.sex}}</p>
              <p>Unit:{{object.dept_unit}}</p>
              <p>Unit:{{object.designation}}</p>
              <p>Unit:{{object.email_add}}</p>
              <p>Unit:{{object.phone_num}}</p>
            </div>


            <div class = "col-3">Profile Picture</div>
          </div>
 
        </div>

        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">{{EditProfile.as_p}}
          <div>
             <button type="submit" class="btn btn-submit">submit</button>
            </div>
          
        </div>
          

        
        <div class="tab-pane fade" id="View-Leave-Applications" role="tabpanel" aria-labelledby="v-pills-View-Leave-Applications-tab">
            <div>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>s/n</th>
                          <th>Name</th>
                          <th>Staff ID</th>
                          <th>Department</th>
                          <th>Leave type</th>
                          <th>Start-End Date</th>
                          <th>Document</th>
                          <th>Take Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <td>1</td>
                          <td>Emmanuel toma</td>
                          <td>11CT678</td>
                          <td>Finance</td>
                          <td>Annual Leave</td>
                          <td>10/3/2018 - 10/4/2018</td>
                          <td>View</td>
                          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Action</button></td>

                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-submit">submit</button>
                  </div>
        </div>


            <div class="tab-pane fade" id="track_applications" role="tabpanel" aria-labelledby="v-pills-track_applications-tab">
                <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                                <th>s/n</th>
                              <th>Employee Name</th>
                              <th>Staff ID</th>
                              <th>Department</th>
                              <th>Leave type</th>
                              <th>Start Date</th>
                              <th>End Date</th>
                              <th>Attached Doc</th>
                            </tr>
                          </thead>
                          <tbody>
                            
                            <tr>
                              <td>1</td>
                              <td>Emmanuel Toma</td>
                              <td>11CT678</td>
                              <td>Finance</td>
                              <td>Annual Leave</td>
                              <td>10/3/2018</td>
                              <td>10/4/2018</td>
                              <td>View</td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
            </div> 
        
        <div class="tab-pane fade" id="v-pills-logout" role="tabpanel" aria-labelledby="v-pills-logout-tab"></div>
      </div>
    </div>
    </div>
</div>


<!-- A action modal class for Directors  -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Deny</button>
        <button type="button" class="btn btn-primary">Approve</button>
      </div>
    </div>
  </div>
</div>

<!-- 
A drop down to track employee by department -->

<div class="dropdown" id ='drop'>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Action</button>
      <button class="dropdown-item" type="button">Another action</button>
      <button class="dropdown-item" type="button">Something else here</button>
    </div>
  </div>

{% endblock %}


{% block jscode%}
<script src="{% static 'js/dashboard/employeedashboard.js' %}"></script>
{% endblock %}