
{% extends 'base.html' %}
{%load static%}


{% block style%}
<link rel="stylesheet" href="{% static '/css/customHome.css' %}"/>
<link rel="stylesheet" href="{% static '/css/dashboardcss/notif.css' %}"/>
{% endblock %}

{% block content1 %}
<div class="container">
    <div class="row">
    <div class="col-md-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab " role="tablist" aria-orientation="vertical">

        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span>Home</span></a>

        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Edit Profile</a>

        <a class="nav-link" id="v-pills-leave_history-tab" data-toggle="pill" href="#v-pills-leave_history" role="tab" aria-controls="v-pills-leave_history" aria-selected="false">Leave History</a>

        <a class="nav-link" id="v-pills-leave_request-tab" data-toggle="pill" href="#v-pills-leave_request" role="tab" aria-controls="v-pills-leave_request" aria-selected="false">Request For Leave</a>

        <a class="nav-link" id="v-pills-leave_status-tab" data-toggle="pill" href="#v-pills-leave_status" role="tab" aria-controls="v-pills-leave_status" aria-selected="false">Leave Status</a>
       
     </div> 
</div>

<div  class="col-9">
  <header>

    <div class="notif-btn">
        <img src="{% static '/img/notification.png' %}" >
        <p>1 new notification</p>
        
    </div>
  </header>
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class = row>
                    <div class = "col-7">
                      <p></p>
                      <p>Staff ID : {{object.staff_id}}</p> 
                      <p>Staff Name : {{object.f_name}} {{object.l_name}}</p>
                      <p>Staff Department : {{object.department}}</p>
                      <p>Sex:{{object.sex}}</p>
                      <p>Department Unit: {{object.dept_unit}}</p>
                      <p>Designation: {{object.designation}}</p>
                      <p>Email address: {{object.email_add}}</p>
                      <p>Phone Number: {{object.phone_num}}</p>
                    </div>
          

                    <div class="tab-content" id="v-pills-tabContent">
                        <p></p>
                        <div class="adjust-image">
                        <img src="{% static '/img/profilepic.png' %}" >
                      </div>
                    </div>
        </div>
    </div>



    <!-- Edit Profile Tab -->
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

            <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" placeholder="First Name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Email"> Email Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="{{EditProfile.email_add.label}}">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Home Address</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="Designation">Designation</label>
                      <input type="Designation" class="form-control" id="designation">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="dept">Department Unit</label>
                        <input type="dept" class="form-control" id="dept_unit">
                      </div>
                  </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">Phone Number</label>
                    <input type="Number" class="form-control" id="inputCity">
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="sex">Sex</label>
                    <select id="sex" class="form-control">
                      <option selected>Choose...</option>
                      <option selected>Male</option>
                      <option selected>Female</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </form>






        </div>

        <div class="tab-pane fade" id="v-pills-leave_history" role="tabpanel" aria-labelledby="v-pills-leave_history-tab">          
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th>s/n</th>
                      <th>Leave Type</th>
                      <th>Application Date</th>
                      <th>Leave Status</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Attached Doc</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr>
                      <td>1</td>
                      <td>Casual</td>
                      <td>03/02/2018</td>
                      <td>Pending</td>
                      <td>07/02/2018</td>
                      <td>12/02/2018</td>
                      <td>View more</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>

        <div class="tab-pane fade" id="v-pills-leave_request" role="tabpanel" aria-labelledby="v-pills-leave_request-tab">
            <div class = 'row'>
              <section class = 'col-md-5'>
            <form >
                    <div class="form-group ">
                        <label for="leave_type_lbl">Leave Type</label>
                        <select id="leave_type" class="form-control">
                          <option value = "-1" selected >Choose...</option>
                          <option value = "1">Maternity Leave</option>
                          <option value = 2>Religious Leave</option>
                          <option value = 3>Casual Leave</option>
                          <option value = 4>Sabbatical Leave</option>
                          <option value = 5>Sick/Medical Leave</option>
                          <option value = 6>Examination Leave</option>
                          <option value = 7>Leave on compassionate ground</option>
                          <option value = 8>Pre-Retirement Leave</option>
                        </select>
                      </div>
                  <div class="form-group ">
                    <label for="first_name">Start Date</label>
                    <input type="date" class="form-control" id="first_name" placeholder="First Name">
                  </div>
                  <div class="form-group">
                    <label for="last_name">End Date</label>
                    <input type="Date" class="form-control" id="last_name" placeholder="Last Name">
                  </div>
                
                
                  <div class="form-group ">
                      <label for="last_name">Comment</label>
                    <textarea name="comment" form = "userform"></textarea>
                  </div>
                  
                <div class="form-group">
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </form>
            </section>
              <section class = 'col-md-6' >
                <div class='descText'>
                <p id='desc1'>about maternity</p>
                <p id='desc2'>about religious</p>
                <p id='desc3'>about casual</p>
                <p id='desc4'>about sabbatical</p>
                <p id='desc5'>about medical</p>
                <p id='desc6'>about Examination</p>
                </div>
              </section>
            </div>

        </div>
        
        <div class="tab-pane fade" id="v-pills-leave_status" role="tabpanel" aria-labelledby="v-pills-leave_status-tab">
                <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                                <th>s/n</th>
                              <th>Leave Type</th>
                              <th>Application Date</th>
                              <th>Leave Status</th>
                              <th>Leave starts</th>
                              <th>Leave End</th>
                              <th>Attached Doc</th>
                            </tr>
                          </thead>
                          <tbody>
                            
                            <tr>
                              <td>1</td>
                              <td>Annual</td>
                              <td>3/4/2018</td>
                              <td>Pending</td>
                              <td>5/06/2018</td>
                              <td>6/07/2018</td>
                              <td>View more</td>
                      
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
        </div>
        
      </div>
    </div>
    </div>
</div>


{% endblock %}


{% block jscode%}
<script src="{% static 'js/dashboard/employeedashboard.js' %}"></script>
{% endblock %}