{% extends 'base.html' %}
{%load static%}


{% block style %}
<link rel="stylesheet" href="{% static '/css/dashboardcss/notif.css' %}"/>
{% endblock %}

{% block content1 %}
<div class="container">
    <div class="row">
    <div class="col-md-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab " role="tablist" aria-orientation="vertical">

        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span>Home</span></a>

        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Edit Profile</a>

        <a class="nav-link" id="v-pills-leave_history-tab" data-toggle="pill" href="#v-pills-leave_history" role="tab" aria-controls="v-pills-leave_history" aria-selected="false">My Leave History</a>

        <a class="nav-link" id="v-pills-leave_request-tab" data-toggle="pill" href="#v-pills-leave_request" role="tab" aria-controls="v-pills-leave_request" aria-selected="false">Request For Leave</a>

        <a class="nav-link" id="v-pills-leave_status-tab" data-toggle="pill" href="#v-pills-leave_status" role="tab" aria-controls="v-pills-leave_status" aria-selected="false">Leave Status</a>

        <a class="nav-link" id="v-pills-leave_applications-tab" data-toggle="pill" href="#v-pills-leave_applications" role="tab" aria-controls="v-pills-leave_applications" aria-selected="false">View Leave Applications</a>

        <a class="nav-link" id="v-pills-track_emp_onleave-tab" data-toggle="pill" href="#v-pills-track_emp_onleave" role="tab" aria-controls="v-pills-leave_emp_onleave" aria-selected="false">Track Officers on Leave</a>
 
     </div> 
</div>

<div  class="col-9">

        <div class="notif-btn">
            <img src="{% static '/img/notification.png' %}" >
            <p>1 new notification</p> 
        </div>

    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class = row>
          <div class = "col-6">
            <p>Staff ID : {{object.staff_id}}</p> 
            <p>Staff Name : {{object.f_name}} {{object.l_name}}</p>
            <p>Staff Department : {{object.department}}</p>
            <p>Sex:{{object.sex}}</p>
            <p>Department Unit: {{object.dept_unit}}</p>
            <p>Designation: {{object.designation}}</p>
            <p>Email address: {{object.email_add}}</p>
            <p>Phone Number: {{object.phone_num}}</p>
          </div>

          <div class="tab-content" id="v-pills-tabContent">
              <p></p>
              <div class="adjust-image">
              <img src="{% static '/img/profilepic.png' %}" >
            </div>
          </div>
      </div>
        </div>

        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

            <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" id="first_name" placeholder="First Name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Email"> Email Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="{{EditProfile.email_add.label}}">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Home Address</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="Designation">Designation</label>
                      <input type="Designation" class="form-control" id="designation">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="dept">Department Unit</label>
                        <input type="dept" class="form-control" id="dept_unit">
                      </div>
                  </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">Phone Number</label>
                    <input type="Number" class="form-control" id="inputCity">
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="sex">Sex</label>
                    <select id="sex" class="form-control">
                      <option selected>Choose...</option>
                      <option selected>Male</option>
                      <option selected>Female</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </form>

            </div>


        <div class="tab-pane fade" id="v-pills-leave_history" role="tabpanel" aria-labelledby="v-pills-leave_history-tab">          
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th>s/n</th>
                      <th>Leave Type</th>
                      <th>Application Date</th>
                      <th>Leave Status</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Attached Doc</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr>
                      <td>1</td>
                      <td>Maternity</td>
                      <td>2/4/2018</td>
                      <td>Approved</td>
                      <td>3/5/2018</td>
                      <td>9/9/2018</td>
                      <td>View</td>
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-leave_request" role="tabpanel" aria-labelledby="v-pills-leave_request-tab">
                <div class = 'row'>
                  <section class = 'col-md-5'>
                <form >
                        <div class="form-group ">
                            <label for="leave_type_lbl">Leave Type</label>
                            <select id="leave_type" class="form-control">
                              <option selected >Choose...</option>
                              <option >Maternity Leave</option>
                              <option >Religious Leave</option>
                              <option >Casual Leave</option>
                              <option >Sabbatical Leave</option>
                              <option >Sick/Medical Leave</option>
                              <option >Examination Leave</option>
                              <option >Leave on compassionate ground</option>
                              <option >Pre-Retirement Leave</option>
                            </select>
                          </div>
                      <div class="form-group ">
                        <label for="first_name">Start Date</label>
                        <input type="date" class="form-control" id="first_name" placeholder="First Name">
                      </div>
                      <div class="form-group">
                        <label for="last_name">End Date</label>
                        <input type="Date" class="form-control" id="last_name" placeholder="Last Name">
                      </div>
                    
                    <div class="form-row">
                      <div class="form-group ">
                        <textarea name="comment" form = "userform"></textarea>
                      </div>
                      
                    </div>
                    <div class="form-group">
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </form>
                </section>
                  <section class = 'col-md-6' >
                    <div class='descText'>
                    <p id='desc1' class='descText'>about maternity</p>
                    <p id='desc2' class='descText' >about religious</p>
                    <p id='desc3' class='descText '>about casual</p>
                    <p id='desc4' class='descText'>about sabbatical</p>
                    <p id='desc5' class='descText'>about medical</p>
                    <p id='desc6' class='descText'>about Examination</p>
                    </div>
                  </section>
                </div>
    
            </div>
            




        
        <div class="tab-pane fade" id="v-pills-leave_status" role="tabpanel" aria-labelledby="v-pills-leave_status-tab">
                <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                                <th>s/n</th>
                              <th>Leave Type</th>
                              <th>Application Date</th>
                              <th>SLeave Begins</th>
                              <th>Leave End</th>
                              <th>Status</th>
                              <th>Attached Doc</th>
                            </tr>
                          </thead>
                          <tbody>
                            
                            <tr>
                              <td>1</td>
                              <td>Annual Leave</td>
                              <td>10/2/2018</td>
                              <td>10/3/2018</td>
                              <td>10/4/2018</td>
                              <td>Pending</td>
                              <td>View</td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
        </div>
        <div class="tab-pane fade" id="v-pills-leave_applications" role="tabpanel" aria-labelledby="v-pills-leave_applications-tab">
            <div>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>s/n</th>
                          <th>Name</th>
                          <th>Staff ID</th>
                          <th>Department</th>
                          <th>Leave type</th>
                          <th>Start-End Date</th>
                          <th>Document</th>
                          <th>Take Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <td>1</td>
                          <td>Emmanuel toma</td>
                          <td>11CT678</td>
                          <td>Finance</td>
                          <td>Annual Leave</td>
                          <td>10/3/2018 - 10/4/2018</td>
                          <td>View</td>
                          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Action</button></td>

                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-submit">submit</button>
                  </div>
        </div>
            <div class="tab-pane fade" id="v-pills-track_emp_onleave" role="tabpanel" aria-labelledby="v-pills-track_emp_onleave-tab">          
                <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>s/n</th>
                            <th>Staff Name</th>
                            <th>Department</th>
                          <th>Leave Type</th>
                          <th>Application Date</th>
                          <th>Leave Status</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Attached Doc</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <td>1</td>
                          <td>John Doe</td>
                          <td>Finance</td>
                          <td>Maternity</td>
                          <td>2/4/2018</td>
                          <td>Approved</td>
                          <td>3/5/2018</td>
                          <td>9/9/2018</td>
                          <td>View</td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
        
        <div class="tab-pane fade" id="v-pills-logout" role="tabpanel" aria-labelledby="v-pills-logout-tab"></div>
      </div>
    </div>
    </div>
</div>

<!-- A action modal class for Directors  -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Deny</button>
          <button type="button" class="btn btn-primary">Approve</button>
        </div>
      </div>
    </div>
  </div>
  


{% endblock %}


{% block jscode%}
<script src="{% static 'js/dashboard/employeedashboard.js' %}"></script>
{% endblock %}