<br />
<br />
<div class="jumbotron jumbotron-fluid">
      <div class="row col-12">
          <div class="col-6">
          <h1 >About LMS</h1>
          <p class="lead" id = 'aboutlms'>A web-based Leave Management System (LMS) is a Human Resource (HR) software 
            web application that is designed with the 
            goal of managing human capital leave request, procedures and records. It is captured to be a useful HR subsidiary 
            system segregated for managing employee leave matters. 
             </p>
      </div>
        <div class="col-6" id='arcsstee'>
            <h1 >About ARCSSTE-E</h1>
            <p class="lead">The African Regional Centre for Space Science and Technology Education in English (ARCSSTE-E), 
              Ile-Ife is a Government Public Parastatal under the supervision and control of the National Space Research 
              and Development Agency (NARSDA), Abuja.</p>
          </div>
        </div>