{% extends 'base.html' %}


{% block content1%}
<div class="content container">
        <div class="row">
            <div class="col-md-12">
                  {%include 'lms/slider.html'%}  
            </div>
        </div>
    </div>
{%endblock%}



{% block content2%}
<div class="content container">
        <div class="row">
            <div class="col-md-12">
                  {%include 'lms/aboutlms.html'%}  
            </div>
        </div>
    </div>
{%endblock%}



{% block content3%}
<div class="content container">
        <div class="row">
            <div class="col-md-12">
                  {%include 'lms/lmsValue.html'%}  
            </div>
        </div>
    </div>
{%endblock%}

