{% load static %}

<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="{% static '/img/card1.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Easy Application</h5>
        <p class="card-text">Apply for leave at the comfort of your workspace</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static '/img/card3.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Track Leave Status</h5>
        <p class="card-text">Check your leave status before it gets approved</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static '/img/card2.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Approval Granted</h5>
        <p class="card-text">Enjoy quick feedback and easy approval from Authourities</p>
      </div>
    </div>
  </div>
