<div class="card-group">
    <div class="card">
      <img class="card-img-top" src=".../100px180" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Easy Application</h5>
        <p class="card-text">Apply for leave at the comfort of your workspace</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Track leave status</h5>
        <p class="card-text">Check leave status easily before it gets approved</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Generate Reports</h5>
        <p class="card-text">Accumulate easily reports of leave approvals in a periodic year</p>
      </div>
    </div>
  </div>
